<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EJS practice</title>
</head>
<body>
    <h1>The Home Page <%= 1+4+6+7 %> </h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ullam molestiae a unde consequatur, quod distinctio sed illum sapiente, repellendus neque esse dicta amet? Provident, enim! Omnis itaque rem nostrum velit incidunt natus fuga eligendi nisi corrupti accusamus, voluptas sapiente nihil iste eaque molestias nobis fugit mollitia nam esse impedit hic!</p>
    
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga iste pariatur accusantium beatae officiis repudiandae aperiam voluptate repellendus at quam.</p>
</body>
</html>